.card {
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
    rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
  transition: 0.5s ease-in-out;
  height: 30em;
}

.card:hover {
  transform: scale(1.05);
}
